@use "sass:color";

.hidden {
    display: none !important;
}

.button {
    font-family: 'Karla', sans-serif;
    background-color: #3b3b3b;
    color: #ffffff;
    border: solid #3b3b3b;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
    padding: 0.25em 0.5em;
    border-radius: 4px;

    &:hover {
        background-color: #5a5a5a;
    }
}

.inputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 0.5em;

    label {
        align-self: center;
    }

    input {
        border-radius: 4px;
        padding: 0.25em 0.5em;
    }
}

.poemContainer {
    $backgroundColour: #e0c786;
    font-family: 'Quintessential', cursive;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2em clamp(.25em, 30vw - 140px, 3em);
    box-sizing: border-box;
    background-color: color.scale($backgroundColour, $lightness: 80%);
    border: 2px solid $backgroundColour;
    border-radius: 10px;
}

.poemOutput {
    line-height: 3.5em;
}

.container {
    padding: 2em 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

//-- Share

.hidden {
    display: none;
}

svg {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.targets .button, .share-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;

    &:hover {
        border-color: #cdd;
    }
}

.share-button, .copy-link {
    padding-left: 30px;
    padding-right: 30px;
    color: #777;
}

.share-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.share-dialog {
    display: none;
    width: 95%;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    z-index: -1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;

    &.is-open {
        display: block;
        z-index: 2;
    }
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.targets {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.close-button {
    background-color: transparent;
    border: none;
    padding: 0;

    svg {
        margin-right: 0;
    }
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
}

.poem-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}